<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test" routerLinkActive="active">TEST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/unit" routerLinkActive="active">UNIT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news" routerLinkActive="active">NEWS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tours" routerLinkActive="active">TOURS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/log" routerLinkActive="active">LOG IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/firebse" routerLinkActive="active">FireBase</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" style="padding-left: 600px">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="onClick()">Try me!</button>
</div>
<br>
<router-outlet></router-outlet>
